<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>pas</string>
		<string>pp</string>
		<string>inc</string>
		<string>dpr</string>
		<string>dpk</string>
		<string>lpr</string>
		<string>lpk</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~P</string>
	<key>name</key>
	<string>Pascal</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\b(?i:(CLASS|FOR|IF|INTERFACE|NOT|OBJECT|UNTIL|WHILE|WITH))\b</string>
			<key>name</key>
			<string>keyword.objectpascal</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?<!\.)(?i:(ABSOLUTE|ABSTRACT|div|mod|and|or|xor|shl|shr|is|as|ARRAY|ASM|ASSEMBLER|BEGIN|CASE|CDECL|CONST|CONSTREF|DEFAULT|DISPID|DISPINTERFACE|DO|DOWNTO|DYNAMIC|ELSE|END|EXCEPT|EXPORTS|EXTERNAL|FAR|FINALLY|FINALIZATION|FORWARD|GOTO|HELPER|IF|IMPLEMENTATION|IMPLEMENTS|IN|INDEX|INHERITED|INITIALIZATION|INLINE|INTERRUPT|LABEL|LIBRARY|MESSAGE|NEAR|OF|ON|OPERATOR|OUT|OVERLOAD|OVERRIDE|PACKED|PRIVATE|PROGRAM|PROPERTY|PROTECTED|PUBLIC|PUBLISHED|READ|RECORD|REFERENCE|REINTRODUCE|REPEAT|RESIDENT|RESOURCESTRING|SAFECALL|SET|STATIC|STDCALL|STRICT|THEN|TO|TRY|TYPE|UNIT|USES|VAR|VIRTUAL|WRITE))\b(?![\<\/(])</string>
			<key>name</key>
			<string>keyword.objectpascal</string>
		</dict>
		<!--
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.function.pascal</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.pascal</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b(?i:(function|procedure))\b[\n\r\s]*(\w+(\.\w+)?)</string>
			<key>name</key>
			<string>meta.function.pascal</string>
		</dict>
		(?:[^b]+|b(?:$|[^e]|e(?:$|[^g]|g(?:$|[^i]|i(?:$|[^n])))))* //everything until 'begin'
		(?:[^b\(:;]+|b(?:$|[^e]|e(?:$|[^g]|g(?:$|[^i]|i(?:$|[^n])))))* //everything until 'begin', '(', ':' or ';'
		-->
		<dict>
		    <key>applyEndPatternLast</key>
			<integer>1</integer>
			<key>begin</key>
			<string>\b(?i:(function|procedure|constructor|destructor))\b[\n\r\s]*</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.objectpascal</string>
				</dict>
			</dict>
<!--
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>[^\(:;]</string>
					<key>name</key>
					<string>entity.name.function.pascal</string>
				</dict>
			</array>
-->
<!--

			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>(?:[^b\(:;]+|b(?:$|[^e]|e(?:$|[^g]|g(?:$|[^i]|i(?:$|[^n])))))*</string>
					<key>name</key>
					<string>entity.name.function.pascal</string>
				</dict>
			</array>
-->
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<!--<string>.+?(?=begin|:|;|\()</string>-->
					<string>[\s]*\b(?i:(begin|of))\b</string>
					<key>name</key>
					<string>keyword.objectpascal</string>
				</dict>
				<dict>
					<key>match</key>
					<!--<string>.+?(?=begin|:|;|\()</string>-->
					<string>[\w]*[^\s:;\(\{/]</string>
					<key>name</key>
					<string>entity.name.function.pascal</string>
				</dict>
				<dict>
					<key>match</key>
					<!--<string>.+?(?=begin|:|;|\()</string>-->
					<string>[:;]</string>
					<key>name</key>
					<string>source</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>(^[ \t]+)?(?=//)</string>
					<key>beginCaptures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.whitespace.comment.leading.objectpascal</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?!\G)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>begin</key>
							<string>//</string>
							<key>beginCaptures</key>
							<dict>
								<key>0</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.comment.objectpascal</string>
								</dict>
							</dict>
							<key>end</key>
							<string>\n</string>
							<key>name</key>
							<string>comment.line.double-slash.objectpascal.two</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>\(\*</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment.objectpascal</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\*\)</string>
					<key>name</key>
					<string>comment.block.objectpascal.one</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>\{\$</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>string.objectpascal</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\}</string>
					<key>name</key>
					<string>annotation.block.objectpascal</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>\{[^\$]</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment.objectpascal</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\}</string>
					<key>name</key>
					<string>comment.block.objectpascal.two</string>
				</dict>
			</array>
			<!--
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>([^\(\:;]*)(\(.*\))?(:(.*))</string>
					<key>name</key>
					<string>entity.name.function.pascal</string>
				</dict>
			</array>
			-->
			<key>end</key>
			<!--<string>(?i:(\bbegin|[:;\(]))\b</string>-->
			<string>[\s:;\(]</string>

		</dict>

		<dict>
			<key>match</key>
			<string>\b(?<!\.)(?i:(exit|continue|break|abort|halt))\b</string>
			<key>name</key>
			<string>keyword.control</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?<!\.)(?i:(deprecated|experimental|platform))\b</string>
			<key>name</key>
			<string>meta.selector</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?<!\.)(?i:(assert|raise|RunError))\b</string>
			<key>name</key>
			<string>keyword.control</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?i:(\=|\>|\<|\!|\~|\?|\:|\+|\-|\*|\/|\&|\^|\@|\:\=))\b</string>
			<key>name</key>
			<string>keyword.operator.objectpascal</string>
		</dict>
		<dict>
			<key>match</key>
			<string>((\$([0-9a-fA-F])*)|\b(([0-9]+\.?[0-9]*)|(\.[0-9]+))\b)</string>
			<key>name</key>
			<string>constant.numeric.objectpascal</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?i:(ansichar|ansistring|boolean|byte|cardinal|char|comp|currency|double|dword|extended|file|integer|int64|longint|longword|nativeint|nativeuint|olevariant|pansichar|pchar|pwidechar|pointer|real|shortint|shortstring|single|smallint|string|uint64|variant|widechar|widestring|word|wordbool))\b</string>
			<key>name</key>
			<string>storage.type.token.java</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?i:(true|false|nil))\b</string>
			<key>name</key>
			<string>constant.numeric.objectpascal</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?<!\.)(?i:(self|result))\b</string>
			<key>name</key>
			<string>variable.other</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(^[ \t]+)?(?=--)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.comment.leading.objectpascal</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?!\G)</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>--</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment.objectpascal</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\n</string>
					<key>name</key>
					<string>comment.line.double-dash.objectpascal.one</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(^[ \t]+)?(?=//)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.comment.leading.objectpascal</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?!\G)</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>//</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment.objectpascal</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\n</string>
					<key>name</key>
					<string>comment.line.double-slash.objectpascal.two</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>\(\*</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.objectpascal</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\*\)</string>
			<key>name</key>
			<string>comment.block.objectpascal.one</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\{\$</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>string.objectpascal</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\}</string>
			<key>name</key>
			<string>string.objectpascal</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\{[^\$]</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.objectpascal</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\}</string>
			<key>name</key>
			<string>comment.block.objectpascal.two</string>
		</dict>
		<dict>
			<key>applyEndPatternLast</key>
			<integer>1</integer>
			<key>begin</key>
			<string>'</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.objectpascal</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?i:('|\n))</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.objectpascal</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.single.objectpascal</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>''</string>
					<key>name</key>
					<string>constant.character.escape.apostrophe.objectpascal</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.objectpascal</string>
	<key>uuid</key>
	<string>6A37D753-91CA-4612-8B3A-16B4905AD2C4</string>
</dict>
</plist>